body, html {
    margin: 0;
    padding: 0;
}

/* Index page */
.content {
    max-width: 750px;
    margin: 100px auto;
    padding: 80px 100px;
    background-color: #EEEEEE;
    border-radius: 8px;
    border: 1px solid #EFEFEF;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 40pt;
}

/* Training page */
#editor {
    min-height: 400px;
    height: 400px;
}

.code-image img {
    /width: 100%;
    max-height: 400px;
}

.countdown {
    width: 128px;
    height: 128px;
    margin: 140px auto 0;
}

.countdown img {
    position: absolute;
    width: 128px;
    height: 128px;
}

.countdown .seconds {
    position: relative;
    font-size: 40pt;
    top: 27px;
    width: 120px;
    text-align: center;
}

.finish-button-container {
    text-align: center;
    margin-top: 20px;
}