<!DOCTYPE html>
<html class="fullscreen-background">
<head lang="ru">
    <meta charset="UTF-8">
    <title>Контургонки</title>

    <link rel='stylesheet' href='/static/fonts.css' type='text/css'>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="game">
        <div class="row">
            <div id="editor" class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">Здесь надо будет писать код</div>
            <div class="code-image col-xs-offset-0 col-sm-5 col-xs-offset-2 col-xs-10">
                <img src=""/>
                <div class="countdown" id="countdown"></div>
            </div>
        </div>
        <div class="row">
            <div class="howto col-sm-offset-1 col-sm-3">
                <div><b>Ctrl/Cmd+Q</b> &mdash; перейти к первой ошибке (обновляется раз в секунду)</div>
                <div><b>Ctrl/Cmd+L</b> &mdash; перейти к строке по номеру</div>
                <div><b>Ctrl/Cmd+Space</b> &mdash; подсказки</div>
                <div><a class="hotkeys-button">Другие хоткеи</a></div>
            </div>
            <div class="finish-button-container col-sm-2">
                <a href="#" class="btn btn-lg btn-success" role="button">Закончить <small>(Ctrl/Cmd+Enter)</small></a>
            </div>

            <div class="game-results col-sm-offset-1 col-sm-3 align-left">
                <div>
                    Вы набирали программу <span id="seconds"></span> сек.
                </div>
                <div>
                    Расстояние Левенштейна: <span id="distance" data-toggle="tooltip" data-placement="top" title="За каждую единицу расстояния мы начисляем 5 штрафных секунд"></span>.
                </div>
                <div>
                    Итоговое время: <span id="total_seconds"></span>, скорость &mdash; <span id="speed"></span> зн/мин.
                </div>
            </div>
            <div class="return-to-main-button-container col-sm-2">
                 <a href="/" class="btn btn-lg btn-success" role="button">Вернуться на главную</a>
            </div>


            <div class="competitors col-xs-5">
            </div>
        </div>
    </div>

{#    <div class="game">#}
{#        <div class="row">#}
{#            <div id="editor" class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">Здесь надо будет писать код</div>#}
{#            <div class="code-image col-xs-offset-0 col-sm-5 col-xs-offset-2 col-xs-10">#}
{#                <img src=""/>#}
{#                <div class="countdown" id="countdown"></div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="howto col-sm-offset-1 col-sm-5">#}
{#                <div><b>Ctrl+Q</b> &mdash; перейти к первой ошибке (обновляется раз в секунду)</div>#}
{#                <div><b>Ctrl+L</b> &mdash; перейти к строке по номеру</div>#}
{#                <div><b>Ctrl+Space</b> &mdash; подсказки</div>#}
{#                <div><a class="hotkeys-button">Другие хоткеи</a></div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="finish-button-container col-sm-offset-5 col-sm-2">#}
{#                <a href="#" class="btn btn-lg btn-success" role="button">Закончить <small>(Ctrl+Enter)</small></a>#}
{#            </div>#}
{#            <div class="game-results col-sm-offset-4 col-sm-4 align-left">#}
{#                <div>#}
{#                    Вы набирали программу <span id="seconds"></span> сек.#}
{#                </div>#}
{#                <div>#}
{#                    Расстояние Левенштейна: <span id="distance" data-toggle="tooltip" data-placement="top" title="За каждую единицу расстояния мы начисляем 5 штрафных секунд"></span>.#}
{#                </div>#}
{#                <div>#}
{#                    Итоговое время: <span id="total_seconds"></span>, скорость &mdash; <span id="speed"></span> зн/мин.#}
{#                </div>#}
{#                <div>#}
{#                    <a href="/" class="btn btn-lg btn-success" role="button">Вернуться на главную</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/ajax-setup.js"></script>
    <script type="text/javascript" src="/static/ace.js"></script>
    <script type="text/javascript" src="/static/ext-language_tools.js"></script>
    <script type="text/javascript" src="/static/codingracing.js"></script>
</body>
</html>