<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Контургонки</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="content">
        <div class="row title">
            <h1>Контургонки</h1>
        </div>
        <div class="row about">
            <p>
                Наконец-то появился способ выяснить, кто круче всех среди разработчиков!
            </p>
            <p>
                Тренируйся, выигрывай в наших Контургонках и получай ценные призы от СКБ Контура.
            </p>
        </div>
        <div class="row">
            <a class="btn btn-lg btn-success" href="/training" role="button">Тренировка</a>
            <a class="btn btn-lg btn-success" href="/contest" role="button">Соревнование</a>
        </div>
    </div>
</body>
</html>