<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Контургонки</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <div id="editor" class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">Здесь надо будет писать код</div>
        <div class="code-image col-xs-offset-0 col-sm-5 col-xs-offset-2 col-xs-10">
            <img src=""/>
            <div class="countdown" id="countdown"></div>
        </div>
    </div>
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/ace.js"></script>
    <script type="text/javascript" src="/static/ext-language_tools.js"></script>
    <script type="text/javascript" src="/static/codingracing.js"></script>
</body>
</html>